<style type="text/css">

	
	/* Name / Last Name */
	.input-name{
		display: flex;
	}
	.wrapper-FL{
		width: 300px;
		background: #fff;
		padding: 30px;
	}
	.wrapper-FL .input-date{
		height: 40px;
		width: 100%;
		position: relative;
	}
	.wrapper-FL .input-date input{
		height: 100%;
		width: 100%;
		border: none;
		font-size: 17px;
		border-bottom: 2px solid silver;
	}
	.wrapper-FL .input-date .all{
		position: absolute;
		bottom: 10px;
		left: 0;
		color: gray;
		pointer-events: none;
		transition: all 0.3s ease;
	}
	.input-date input:focus ~ .all,
	.input-date input:valid ~ .all{
		transform: translateY(-20px);
		font-size: 14px;
	}
	.input-date input:focus{
		outline: none;
	}

	/* Large Input */

	.wrapper_large{
		width: 665px;
		background: #fff;
		padding: 30px;
	}
	.wrapper_large .input-date{
		height: 40px;
		width: 100%;
		position: relative;
	}
	.wrapper_large .input-date input{
		height: 100%;
		width: 100%;
		border: none;
		font-size: 17px;
		border-bottom: 2px solid silver;
	}
	.wrapper_large .input-date .all{
		position: absolute;
		bottom: 10px;
		left: 0;
		color: gray;
		pointer-events: none;
		transition: all 0.3s ease;
	}

	/* Small Input */

	.input-ZCS{
		display: flex;
	}
	.wrapper-small{
		width: 183px;
		background: #fff;
		padding: 30px;
	}
	.wrapper-small .input-date{
		height: 40px;
		width: 100%;
		position: relative;
	}
	.wrapper-small .input-date input{
		height: 100%;
		width: 100%;
		border: none;
		font-size: 17px;
		border-bottom: 2px solid silver;
	}
	.wrapper-small .input-date .all{
		position: absolute;
		bottom: 10px;
		left: 0;
		color: gray;
		pointer-events: none;
		transition: all 0.3s ease;
	}






		.container_checkout{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	.content_checkout{
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		width: 100%;
		margin-top: 50px;
		margin-left: 20px;
	}
	.payment-option{
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		width: 92%;
		margin: 0 auto;
		padding-top: 20px;
		margin-top: 20px;
	}
	.payment-option h3{
		font-family: Arabic Typesetting;
		font-size: 30px;
		font-weight: 300;
	}
	.custom-control-input{
		display: flex;
		flex-direction: column;
	}
	.custom-control-label{
		display: flex;
		flex-direction: row;
		padding-left: 10px;
	}
	.payment-option-flex{
		display: flex;
		flex-direction: row;
		padding-top: 20px;

	}







	.order-checkout{
		width: 30%;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		height: 100%;
		margin: 0 auto;
		padding: 20px;
	}
	.item-checkout{
		display: flex;
		align-items: center;	
		flex-direction: row;
		padding: 20px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.item-checkout h3{
		float: left;
		font-size: 30px;
		font-family: Arabic Typesetting;
		font-weight: 300;
	}
	.item-checkout h2{
		margin-left: auto;
		font-size: 20px;
		font-family: Luminari;
		font-weight: 300;
	}
	.order-checkout .total{
		display: flex;
		align-items: center;	
		flex-direction: row;
		padding: 20px;
	}
	.order-checkout .total h3{
		font-size: 35px;
		font-family: Arabic Typesetting;
		font-weight: 300;
	}
	.order-checkout .total h2{
		margin-left: auto;
		font-size: 30px;
	}



	.your-cart{
		display: flex;
		align-items: center;	
		flex-direction: row;
	}
	.your-cart .cart{
		font-family: Arabic Typesetting;
		font-weight: 300;
		font-size: 30px;
	}
	.your-cart .badge{
		margin-left: auto;
		background: pink;
		font-size: 35px;
		padding: 10px;
		font-weight: 50;
		font-family: Arabic Typesetting;
		clip-path: circle();
	}




	.payment-checkout{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.btn-checkout{
		background: none;
		border: 1px solid black;
		padding: 10px;
		border-radius: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.btn-checkout:hover{
		color: #1E90FF;
		border: 1px solid #1E90FF;
	}

	

</style>