{% load static %}
<link rel="icon" type="image/png" href="{% static 'images/log1.png' %}">
<title>Password Reset</title>
<style>
  .flex_reset_password{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
  }
  .flex_reset_password h1{
    font-family: Bahnschrift, Times, serif;
    font-weight: 300;
    font-size: 35px;
  }
  .flex_reset_password input{
    border-radius: 5px;
    border-style: none;
    border: 1px solid black;
    outline: none;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    margin: 10px;
    width: 30%;
  }
  .flex_reset_password input:hover{
    border: 1px solid #00BFFF;
  }
  .flex_reset_password input:focus{
    border: 1px solid #00BFFF;
  }
  .flex_reset_password button{
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    border-radius: 10px;
    background: none;
    outline: none;
    border-style: none;
    border: 1px solid black;
    cursor: pointer;
  }
  .flex_reset_password button:hover{
    border: 1px solid #00BFFF;
    color: #00BFFF;
  }
  @media (max-width: 900px){
    .flex_reset_password input{
      width: 70%;
    }
  }
</style>

<form method="POST">{% csrf_token %}
  <div class="flex_reset_password">
  	<h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
      <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
  	<button class="w-100 btn btn-lg btn-primary" type="submit">Send reset email</button> 
  </div>
</form>


