{% load static %}
<link rel="icon" type="image/png" href="{% static 'images/log1.png' %}">
<title>Password Reset Done</title>


<style>
	.flex_pasword_reset_done{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100%;
		word-break: break-word;
		
	}
	.flex_pasword_reset_done p{
		font-family: Arabic Typesetting;
		font-size: 35px;
	}
	.flex_pasword_reset_done a{
		text-decoration: none;
	}
</style>

<div class="flex_pasword_reset_done">
	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    ما یک ایمیل برای شما ارسال کردیم.
			اگر اکانتی با ایمیل وارد شده شما وجود داشته باشد, باید ایمیل را دریافت کرده باشید
		  </p>
		  <p class="m-auto p-2">
		    اگر ایمیلی دریافت نکرده اید مطمئن شوید که ایمیل وارد شده در اکانت را وارد کرده اید
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">بازگشت به صفحه اصلی</a></p>
	</div>
</div>

