{% load static %}
<link rel="icon" type="image/png" href="{% static 'images/log1.png' %}">
<title>Password Complete</title>
<style type="text/css">
	.flex_pasword_reset_complete{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	.flex_pasword_reset_complete p{
		font-family: Arabic Typesetting;
		font-size: 40px;
	}
	.flex_pasword_reset_complete a{
		text-decoration: none;
	}
	@media only screen and (max-width: 600px){
		.flex_pasword_reset_complete p{
			font-size: 30px;
		}
	}
</style>


<div class="flex_pasword_reset_complete">
	<div class="d-flex flex-column">
		<p class="m-auto">پسورد شما تغییر کرد. شما میتوانید<a href="{% url 'login' %}"> وارد سیستم</a> شوید</p>
	</div>
</div>

